
# Python bytecode
*.pyc

# Weight files
bin/

# Test data
test/*.jpg

# Annotated test results
results/

# Intermediate training data
backup/
tfnet/yolo/parse-history.txt
tfnet/yolo/*.parsed
*.txt
*.pb
/profile
/test.py

data/
.ipynb_checkpoints
.DS_Store
data/non-vehicles.zip
data/non-vehicles/*
data/object-detection-crowdai.tar.gz
data/object-detection-crowdai/
data/test_images/.DS_Store
data/training_set/
data/vehicles.zip
data/vehicles
examples/.DS_Store
